
<head> 
    <title> Delete file error</title> 
    <link rel="stylesheet" href="/CSS/style.css">
  </head> 
  <center>
   <br>  Error deleting the file.
   <br><br>
        <div>
            <form action="/files/owned" method="GET">
                <button id="submit" type="submit">Show owned files</button>
              </form>
        </div>
      <div>
      <form action = "/" method="get">
        <input type = "submit" value = "Back">
    </form>
</div>
</center>