<head> 
    <title> Update file error</title> 
    <link rel="stylesheet" href="/CSS/style.css">
  </head> 
  <center>
   <br>  Error updating the file.
   <br><br>
        <div>
            <form action="/files/owned" method="GET">
                <input type = "submit" value = "Show owned files">
              </form>
        </div>
      <div>
      <form action = "/" method="get">
        <input type = "submit" value = "Back">
    </form>
</div>
</center>