
<h1>Hi <%= user.id +" elo " + user.admin%></h1>

<form action="/logout?_method=DELETE" method="POST">
  <button type="submit">Log Out</button>
</form>
<% if ( user.admin == true) { %>
  <form action="/users/activate" method="POST">
    <button id="submit" type="submit">Active other users</button>
  </form>
<% } %>
