
<h1>Hi <%= user.id +" witaj " +  user.email%></h1>


<% if ( user.admin == true) { %>
  <form action="/users/activate" method="POST">
    <button id="submit" type="submit">Active other users</button>
  </form>
<% } %>

<% if ( user.admin == true) { %>
  <form action="/users/overview" method="POST">
    <button id="submit" type="submit">See users</button>
  </form>
<% } %>


<form action="/logout?_method=DELETE" method="POST">
  <button type="submit">Log Out</button>
</form>
