<head>
    <meta charset="utf-8">
    <link rel="stylesheet">
    <title>Login</title>
 </head>
 <ul>
   <% users.forEach(function(user){ %>
   <li><%= user.login %> </li>
   <li><%= user.password %> </li>
  <% }) %>  
</ul>
