
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="/CSS/style.css">
  <title>Main page</title>
</head>
<center>
<h2>Welcome <%=user.firstName%> <%=user.lastName%></h2>
<% if ( user.admin == true) { %>
  <form action="/users/activate" method="POST">
    <input type = "submit" value = "Activate users">
  </form>
  <form action="/users/overview" method="POST">
    <input type = "submit" value = "See users">
  </form>
  <form action="/files/other" method="GET">
    <input type = "submit" value = "See other files">
  </form>
    <form action="/files/owned" method="GET">
      <input type = "submit" value = "See owned files">
  </form>
<% } %>
<form action="/get/question" method="GET">
  <input type = "submit" value = "Make an inquiry">
</form>

<form action="/add/file" method="POST">
  <input type = "submit" value = "Add file">
</form>
<form action="/show/your/files" method="GET">
  <input type = "submit" value = "Show files">
</form>
<form action="/show/your/access/files" method="GET">
  <input type = "submit" value = "Show access files">
</form>

<form action="/user/edit" method="POST">
  <input type = "submit" value = "Edit profile">
</form>
<form action="/logout?_method=DELETE" method="POST">
  <input type = "submit" value = "Log out">
</form>
</center>