
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="/CSS/style.css">
  <title>Main page</title>
</head>
<center>
<h2>Welcome <%=user.firstName%> <%=user.lastName%></h2>
<% if ( user.admin == true) { %>
  <form action="/users/activate" method="POST">
    <button id="submit" type="submit">Active other users</button>
  </form>
  <form action="/users/overview" method="POST">
    <button id="submit" type="submit">See users</button>
  </form>
  <form action="/files/other" method="GET">
    <button id="submit" type="submit">See other files</button>
  </form>
    <form action="/files/owned" method="GET">
    <button id="submit" type="submit">See owned files </button>
  </form>
<% } %>
<form action="/get/question" method="GET">
  <button id="submit" type="submit">Make an inquiry</button>
</form>

<form action="/add/file" method="POST">
  <button id="submit" type="submit">Add file</button>
</form>
<form action="/show/your/files" method="GET">
  <button id="submit" type="submit">Show your files</button>
</form>

<form action="/show/your/access/files" method="GET">
  <button id="submit" type="submit">Show your access files</button>
</form>

<form action="/user/edit" method="POST">
  <button id="submit" type="submit">Edit Profile</button>
</form>

<form action="/logout?_method=DELETE" method="POST">
  <button type="submit">Log Out</button>
</form>
</center>