
<h1>Hi <%= user.id +" witaj " +  user.email%></h1>


<% if ( user.admin == true) { %>
  <form action="/users/activate" method="POST">
    <button id="submit" type="submit">Active other users</button>
  </form>
  <form action="/users/overview" method="POST">
    <button id="submit" type="submit">See users</button>
  </form>
  <form action="/files/other" method="GET">
    <button id="submit" type="submit">See other files</button>
  </form>
<% } %>

<form action="/user/edit" method="POST">
  <button id="submit" type="submit">Edit Profile</button>
</form>

<form action="/logout?_method=DELETE" method="POST">
  <button type="submit">Log Out</button>
</form>

<form action="/add/file" method="POST">
  <button id="submit" type="submit">Add file</button>
</form>

<form action="/show/your/files" method="GET">
  <button id="submit" type="submit">Show your files</button>
</form>

<form action="/show/your/access/files" method="GET">
  <button id="submit" type="submit">Show your access files</button>
</form>