<head> 
    <title> Create question</title> 
    <link rel="stylesheet" href="/CSS/style.css">
  </head> 
   <center>
       Select localization:
       <select name="optionLocalization" size="1" style="width: auto;" id="optionLocalization">
        <% for(var i = 0; i < localizations.length ; i++) { %>
          <option value='<%= localizations[i]%>'><%=localizations[i] %></option>
        <% } %>
      </select>
              Select attribute:
              <select name="optionAttr" size="1"  style="width: auto;"  id="optionAttr">
                <% for(var i = 0; i < attr.length ; i++) { %>
                  <option value='<%= attr[i]%>'><%=attr[i] %></option>
                <% } %>
              </select>
              <div>
                <label for="optionFunction">Select function:</label>
              <select name="optionFunction" size="1" style="width:10%;" id="optionFunction">
                <option selected value="MIN">MIN</option>
                <option value="MAX">MAX</option>
			        	<option value="AVERAGE">AVERAGE</option>
            </select>
          </div>
              <div>
                <label for="firstDay">First day:</label>
              <input type="date" id="firstDay" name="firstDay" onchange="firstDayChange()" > 
            </div>
              <div>
                <label for="lastDay">Last day:</label>
              <input type="date" id="lastDay" name="lastDay" onchange="lastDayChange()" >
            </div>
            <input type = "submit" value = "Get answer" onclick="temp()">
            <br><br>
            <form action = "/" method="get">
              <input type = "submit" value = "Back">
          </form>
              </center>
              <script>
              function temp()
              {
                  submit();
              }
              function firstDayChange(){
               document.getElementById("lastDay").setAttribute("min", document.getElementById("firstDay").value);
              }
              function lastDayChange(){
                  document.getElementById("firstDay").setAttribute("max", document.getElementById("lastDay").value);
              }
          </script>
          <script type="text/javascript" src="/submits/makeQuestion.js"></script>