<head> 
    <title> Create question</title> 
    <link rel="stylesheet" href="/CSS/style.css">
  </head> 
  <center>
   <br> Error with reading data from files.
    <div>
    <form action="/get/question" method="GET">
        <button id="submit" type="submit">Repeat the question</button>
      </form>
    </div>
      <div>
      <form action = "/" method="get">
        <input type = "submit" value = "Back">
    </form>
</div>
</center>