<head> 
  <title> Create question</title> 
  <link rel="stylesheet" href="/CSS/style.css">
</head> 
You don't have files for this dates:
<ol id="myList">
  </ol>

    <script>
        '<% for(var i=0; i<dates.length; i++) { %>'
    var dd = '<%=dates[i].getDate()%>';
    var mm = '<%=dates[i].getMonth() + 1%>';
    var yyyy = '<%=dates[i].getFullYear()%>';
          if(dd<10) 
            dd='0'+dd;
          if(mm<10) 
            mm='0'+mm; 
    var date= yyyy+"-"+mm+"-"+dd;
    var x = document.createElement("LI");
  var t = document.createTextNode(date);
  x.appendChild(t);
  document.getElementById("myList").appendChild(x);
  ' <%}%>'
</script>