<head> 
    <title> Create question</title> 
    <link rel="stylesheet" href="/CSS/style.css">
  </head> 
  <center>You can't query either
    <div>
    <form action="/get/question" method="GET">
   <input type = "submit" value = "Repeat the question">
    </form>
  </div>
    <div>
    <form action = "/" method="get">
      <input type = "submit" value = "Back">
  </form>
</div>
  </center>
