<html> 
<head> 
  <title> Access Files</title> 
  <link rel="stylesheet" href="/CSS/tableStyle.css">
  <link rel="stylesheet" href="/CSS/style.css">
</head> 
 <center>
	 Sort by: <select name="sorting" size="1" style="width:10%;" id="sorting">
                <option selected>Ascending</option>
                <option>Descending</option>
            </select>
            <select name="option" size="1" style="width:10%;" id="option">
                <option selected value="0">Id</option>
                <option value="1">Name</option>
				<option value="2">Localization</option>
				<option value="3">Start day</option>
                <option value="4">End day</option>
                <option value="5">Owner</option>
            </select>
		<div>
            Filter by id: <input type = "number" name = "filterID" id="filterID"
             onkeyup="filterFunction(0,'filterID')" placeholder="Search for id">
            Filter by name: <input type = "text" name = "filterName" id="filterName"
			 onkeyup="filterFunction(1,'filterName')" placeholder="Search for name">
			 <br>
			 Filter by localization: <input type = "text" name = "filterLocalization" id="filterLocalization"
			 onkeyup="filterFunction(2,'filterLocalization')" placeholder="Search for localization">
			 Filter by start day: <input type = "text" name = "filterStartDay" id="filterStartDay"
			 onkeyup="filterFunction(3,'filterStartDay')" placeholder="Search for start day">			
			  <br>
			 Filter by end day: <input type = "text" name = "filterEndDay" id="filterEndDay"
			 onkeyup="filterFunction(4,'filterEndDay')" placeholder="Search for end day">
             Filter by onwer: <input type = "text" name = "filterOwner" id="filterOwner"
             onkeyup="filterFunction(5,'filterOwner')" placeholder="Search for owner">
			 </div>

		<div class="btn-group">
		<button id="buttonFileDelete">Delete access</button>
		<button id="buttonDeleteAccess" onclick="downloadFile()">Download File</button>
		<form action = "/" method="get">
			<button>Back</button>
		 </form>
				</div>
				<table id="filesTable" class="filesTable">
				</table>
<div id="deleteModal" class="modal">
	<div class="modal-content">
  <span class="closeDeleteModal">  &times;</span>
	  <p id="questionText"></p>
        <button type="button" id="closebtn" style="display: none;" onclick="document.getElementById('deleteModal').style.display='none'" class="cancelbtn">Cancel</button>
        <button type="button" id="deletebtn" style="display: none;" onclick="deleteFile()" class="deletebtn">Delete</button>
	</div>
  </div>

</center>
<script  type='text/javascript'>
	  var modalDelete = document.getElementById("deleteModal")
	  var buttonDelete = document.getElementById("buttonFileDelete");
	  var spanDelete = document.getElementsByClassName("closeDeleteModal")[0];
	  buttonDelete.onclick = function() {
	  var questionValue = "Select a file!"; 
	  document.getElementById("questionText").innerHTML=questionValue
      var values=""
	  modalDelete.style.display = "block";
		var rows = document.getElementById("filesTable").rows;
				  for(var i=1;i<rows.length;i++)
				  if (rows[i].classList.contains('highlight')) 
				  {
					values+=rows[i].cells[1].innerHTML+"\n"
					document.getElementById("closebtn").style.display=""
					document.getElementById("deletebtn").style="display:;"
                      } 
                      if(values!="")
                      questionValue="You sure delete access to:\n"+values+"?"
				  document.getElementById("questionText").innerHTML=questionValue
	  }
		spanDelete.onclick = function() {
		modalDelete.style.display = "none";
	  }
	  window.onclick = function(event) {
		if (event.target == modalDelete) {
			modalDelete.style.display = "none";
		}
	  }
	  
	  </script>
					<script type="text/javascript"> 
						function deleteFile()
						  {
							var rows = document.getElementById("filesTable").rows;
					var JSONToSend="{\"idFiles\": [";
					var JSONArrayOfUsersToAdd = "";
									for(var i=1;i<rows.length;i++){
                                    if( rows[i].classList.contains('highlight'))
									JSONArrayOfUsersToAdd = JSONArrayOfUsersToAdd+rows[i].cells[0].innerHTML+","
						}
JSONArrayOfUsersToAdd = JSONArrayOfUsersToAdd.substring(0, JSONArrayOfUsersToAdd.length - 1); //usunięcie przecinka
JSONToSend = JSONToSend + JSONArrayOfUsersToAdd +"] }";

                        location="/access/file/delete?JSONFrom="+JSONToSend 
					}
						</script>
	<script type="text/javascript"> 
		document.getElementById('filesTable') 
			.addEventListener('click', function (item) { 
				var rows = document.getElementById("filesTable").rows;
                for(var i=1;i<rows.length;i++)
				if( rows[i] == item.path[1]) 
				{
                    if(!rows[i].classList.contains('highlight'))
                    rows[i].classList.add('highlight'); 
                    else
					rows[i].classList.remove('highlight')  //tło 
                }
                 
			}); 
	</script> 
	<script type="text/javascript"> 
		function downloadFile()
		  {
			var rows = document.getElementById("filesTable").rows;
	var value=0;
	var index;
					for(var i=1;i<rows.length;i++){
					if( rows[i].classList.contains('highlight')){	
						value++	
						index =i
		}
	}
		if(value==1)
		location="/download/file?JSONFrom=[{\"id\":"+rows[index].cells[0].innerHTML+",\"nameFile\":\""+
					rows[index].cells[1].innerHTML+"\"}]"+"&myFiles=false"
					else
					alert("Choose one file!")
	}
		</script>
          <script src="/forTables/filterFunction.js"></script>
          <script src="/forTables/sortFunction.js"></script>
            <script>
				var dataTable = "<%- tableData %>" 
				document.getElementById("filesTable").innerHTML=dataTable
                sort = document.getElementById("sorting");
                option = document.getElementById("option");
                sort.addEventListener("change", sortingFunction.bind(this),false); 
                option.addEventListener("change", sortingFunction.bind(this),false); 
                window.onload = sortingFunction();
            </script>
</body> 

</html> 
