
  <head> 
    <title>Download file success</title> 
    <link rel="stylesheet" href="/CSS/style.css">
  </head>
  <center>
    <br>
    Your file is download to <%= path %>
    <br><br>
      <div>
        <form action="/show/your/access/files" method="GET">
          <input type = "submit" value = "Back">
        </form>
      </div>
        <div>
        <form action = "/" method="get">
          <input type = "submit" value = "Return to menu">
      </form>
  </div>
  </center>