<head> 
    <title>Access file</title> 
    <link rel="stylesheet" href="/CSS/style.css">
  </head>
  <center>
    <br>
    You have no access files for you
    <br><br>
        <div>
        <form action = "/" method="get">
          <input type = "submit" value = "Back">
      </form>
  </div>
  </center>