<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" href="/CSS/style.css" type="text/css"/>
    <title>Add File Error</title>
</head>
<body>
    <center>
      <br>
      For this location (<%= localization%>) dates (<%=firstDay%>-<%=lastDay%>) are used.
      <br><br>
      <form action="/get/file/property" method="GET">
        <div>
          <input type = "submit" value = "Back">
    </div>
      </form>
</center>
</body>