<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" href="/CSS/style.css" type="text/css"/>
    <title>Add File Error</title>
</head>
<body>
    <center>
        <br>
        Add file error.
        <br>
        <div>
        <form action="/add/file" method="POST">
            <input type = "submit" value = "Try again">
          </form>
        </div>
          <div>
          <form action = "/" method="get">
            <input type = "submit" value = "Back">
        </form>
    </div>
</center>
</body>
  </form> 