  <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link rel="stylesheet" href="/CSS/style.css" type="text/css"/>
        <title>Select File</title>
    </head>
    <body>
        <center>
        <form method="POST" action="/get/file/property" enctype="multipart/form-data">
        <input value = "Choose a file" type="file" name="file">
        <input value = "Next" type="submit">
    </center>
    </body>
      </form> 

