  <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link rel="stylesheet" href="/CSS/style.css" type="text/css"/>
        <title>Select File</title>
    </head>
    <body>
        <center>
        <form method="POST" action="/get/file/property" enctype="multipart/form-data">
        <input value = "Choose a file" type="file" id="file" name="file" onchange="addFile();">
        <input value = "Next" disabled type="submit" id="button">
    </center>
    </body>
      </form> 
      <script>
        function addFile() {  //block button when file is not choose
	       if(document.getElementById("file").value==="") { 
            document.getElementById('button').disabled = true; 
        } else { 
            document.getElementById('button').disabled = false;
        }
    }
      </script>

