<head> 
  <title>Delete file success</title> 
  <link rel="stylesheet" href="/CSS/style.css">
</head>
<center>
  <br>
  You delete <%=information %>
  <br><br>
    <div>
        <form action="/files/other" method="GET">
            <input type = "submit" value = "Show other files">
          </form>
    </div>
      <div>
      <form action = "/" method="get">
        <input type = "submit" value = "Back">
    </form>
</div>
</center>