<html> 
<head> 
  <title>Files</title> 
  <link rel="stylesheet" href="/CSS/tableStyle.css">
  <link rel="stylesheet" href="/CSS/style.css">
</head> 
 <center>
	 Sort by: <select name="sorting" size="1" style="width:10%;" id="sorting">
                <option selected>Ascending</option>
                <option>Descending</option>
            </select>
            <select name="option" size="1" style="width:10%;" id="option">
                <option selected value="0">Id</option>
                <option value="1">Name</option>
				<option value="2">Localization</option>
				<option value="3">Start day</option>
				<option value="4">End day</option>
            </select>
		<div>
            Filter by id: <input type = "number" name = "filterID" id="filterID"
             onkeyup="filterFunction(0,'filterID')" placeholder="Search for id">
            Filter by name: <input type = "text" name = "filterName" id="filterName"
			 onkeyup="filterFunction(1,'filterName')" placeholder="Search for name">
			 <br>
			 Filter by localization: <input type = "text" name = "filterLocalization" id="filterLocalization"
			 onkeyup="filterFunction(2,'filterLocalization')" placeholder="Search for localization">
			 Filter by start day: <input type = "text" name = "filterStartDay" id="filterStartDay"
			 onkeyup="filterFunction(3,'filterStartDay')" placeholder="Search for start day">
			 <br>
			 Filter by end day: <input type = "text" name = "filterEndDay" id="filterEndDay"
             onkeyup="filterFunction(4,'filterEndDay')" placeholder="Search for end day">
			 </div>
			 <div class="btn-group">
<button id="buttonAttr">Show attribute</button> 
<button id="buttonDateRange" onclick="editDate()">Edit file property</button>
<button id="buttonFileUpdate" onclick="editFile()">Update file</button>
<button id="buttonFileDelete">Delete file</button>
<button id="buttonDeleteAccess" onclick="setOwner()">Set owner</button>
		<form action = "/" method="get">
			<button>Back</button>
		 </form>
				</div>
	<table id="filesTable" class="filesTable">
	</table>
<div id="myModal" class="modal">
  <div class="modal-content">
<span class="close">  &times;</span>
	<p id="fileAttrText"></p>
  </div>
  <button disabled=false id="buttonEditAttr" onclick="temp()">Edit attribute</button>
</div>

<div id="deleteModal" class="modal">
	<div class="modal-content">
  <span class="closeDeleteModal">  &times;</span>
	  <p id="questionText"></p>
        <button type="button" id="closebtn" style="display: none;" onclick="document.getElementById('deleteModal').style.display='none'" class="cancelbtn">Cancel</button>
        <button type="button" id="deletebtn" style="display: none;" onclick="deleteFile()" class="deletebtn">Delete</button>
	</div>
  </div>

</center>
<script  type='text/javascript'>
  var JSONFileAttr = '<%-arrayFilesAttr%>'
  var arrayFilesNumber
       var obj = JSON.parse(JSONFileAttr);
	var modal = document.getElementById("myModal")
	var btn = document.getElementById("buttonAttr");
	var span = document.getElementsByClassName("close")[0];
	btn.onclick = function() {
    var row_value = "Select a file!"; 
	  modal.style.display = "block";
	  var rows = document.getElementById("filesTable").rows;
                for(var i=1;i<rows.length;i++)
                if (rows[i].classList.contains('highlight')) 
                {
                  row_value=""
                    for (var j = 0; j < rows.length-1; j++) { 
                    
                    if( obj[j]["id"] == rows[i].cells[0].innerHTML)
                    {
						arrayFilesNumber=j;
                      row_value=""
                      for (var a = 0; a < obj[j]["arrayAttrFile"].length; a++) { 
                          row_value+=obj[j]["arrayAttrFile"][a]+"\n"
                      }
                    }
					} 
                }
                document.getElementById("fileAttrText").innerHTML=row_value
	}
	span.onclick = function() {
	  modal.style.display = "none";
	}
	window.onclick = function(event) {
	  if (event.target == modal) {
		modal.style.display = "none";
	  }
	}
	
	</script>

<script  type='text/javascript'>
	  var modalDelete = document.getElementById("deleteModal")
	  var buttonDelete = document.getElementById("buttonFileDelete");
	  var spanDelete = document.getElementsByClassName("closeDeleteModal")[0];
	  buttonDelete.onclick = function() {
	  var questionValue = "Select a file!"; 
	  modalDelete.style.display = "block";
		var rows = document.getElementById("filesTable").rows;
				  for(var i=1;i<rows.length;i++)
				  if (rows[i].classList.contains('highlight')) 
				  {
					questionValue="You sure delete "+rows[i].cells[1].innerHTML+"?"
					document.getElementById("closebtn").style.display=""
					document.getElementById("deletebtn").style="display:;"
					  } 
				  document.getElementById("questionText").innerHTML=questionValue
	  }
		spanDelete.onclick = function() {
		modalDelete.style.display = "none";
	  }
	  window.onclick = function(event) {
		if (event.target == modalDelete) {
			modalDelete.style.display = "none";
		}
	  }
	  
	  </script>
	<script type="text/javascript"> 
	function temp()
	  {
		var rows = document.getElementById("filesTable").rows;

                for(var i=1;i<rows.length;i++){
				if( rows[i].classList.contains('highlight'))
					location="/edit/file/attr?JSONFrom=[{\"id\":"+rows[i].cells[0].innerHTML+",\"nameFile\":\""+
					rows[i].cells[1].innerHTML+"\"}]&attrArray="+'<%-arrayFilesAttr%>&choice='+arrayFilesNumber
					+"&otherFiles=true"
	  }
	}
	</script>
	<script type="text/javascript"> 
		function editDate()
		  {
			var rows = document.getElementById("filesTable").rows;
	
					for(var i=1;i<rows.length;i++){
					if( rows[i].classList.contains('highlight'))
						location="/edit/file/date?JSONFrom=[{\"id\":"+rows[i].cells[0].innerHTML+",\"nameFile\":\""+
						rows[i].cells[1].innerHTML+"\",\"dateStart\":\""
					   +rows[i].cells[3].innerHTML+"\",\"dateEnd\":\""+rows[i].cells[4].innerHTML
						+"\",\"localization\":\""+rows[i].cells[2].innerHTML+
						"\"}]"+"&otherFiles=true"
		}
	}
		</script>
			<script type="text/javascript"> 
				function editFile()
				  {
					var rows = document.getElementById("filesTable").rows;
			
							for(var i=1;i<rows.length;i++){
							if( rows[i].classList.contains('highlight'))
								location="/set/upload/file?JSONFrom=[{\"id\":"+rows[i].cells[0].innerHTML+
								",\"nameFile\":\""+rows[i].cells[1].innerHTML+"\"}]"+"&otherFiles=true"
				}
			}
				</script>
				
				<script type="text/javascript"> 
						function deleteFile()
						  {
							var rows = document.getElementById("filesTable").rows;
							for(var i=1;i<rows.length;i++){
									if( rows[i].classList.contains('highlight'))
										location="/delete/file?JSONFrom=[{\"id\":"+rows[i].cells[0].innerHTML+
										",\"nameFile\":\""+rows[i].cells[1].innerHTML+"\"}]"+"&otherFiles=true"
						}
					}
				</script>
							<script type="text/javascript"> 
								function setOwner() 
								  {
									var rows = document.getElementById("filesTable").rows;
							
											for(var i=1;i<rows.length;i++){
											if( rows[i].classList.contains('highlight'))
												location="/set/owner/file?JSONFrom=[{\"id\":"+rows[i].cells[0].innerHTML+",\"nameFile\":\""+
								rows[i].cells[1].innerHTML+"\",\"dateStart\":\""
					 			  +rows[i].cells[3].innerHTML+"\",\"dateEnd\":\""+rows[i].cells[4].innerHTML
									+"\",\"localization\":\""+rows[i].cells[2].innerHTML+"\"}]"+"&otherFiles=true"
								}
							}
							</script>
	<script type="text/javascript"> 
		document.getElementById('filesTable') 
			.addEventListener('click', function (item) { 
				var rows = document.getElementById("filesTable").rows;
				document.getElementById('buttonEditAttr').disabled=true
                for(var i=1;i<rows.length;i++){
				if( rows[i] == item.path[1]) 
				{
					rows[i].classList.add('highlight'); 
					document.getElementById('buttonEditAttr').disabled=false
				}	else
					rows[i].classList.remove('highlight')  //set background in rows
				}
			}); 
	</script> 
          <script src="/forTables/filterFunction.js"></script>
          <script src="/forTables/sortFunction.js"></script>
            <script>
				var dataTable = "<%- tableData %>" 
				document.getElementById("filesTable").innerHTML=dataTable
                sort = document.getElementById("sorting");
                option = document.getElementById("option");
                sort.addEventListener("change", sortingFunction.bind(this),false); 
                option.addEventListener("change", sortingFunction.bind(this),false); 
                window.onload = sortingFunction();
            </script>
</body> 
</html> 
