<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/CSS/style.css">
    <title>Users list</title>
 </head>
<script>var toInit = "Users";</script>
<center>
       Select one user for <%=id%>) <%=nameFile%>:          
        <br/><br/>
        <div id="container">
            <div id="avaible">
                <br/>
                <iframe name="AvaibleUsers" id="AvaibleUsers" src="/users/to/owner"></iframe>
            </div>
        </div>
        <br><br>
        <div>
            <input type = "submit" value = "Set Owner" onclick="temp()">
        </div>
    
        <form action="/files/other" method="GET">
        <input type = "submit" value = "Back">
    </form>
</center>
<script>
    function temp()
    {
        submit();
    }
</script>
<script type="text/javascript" src="/submits/setFileOwner.js"></script>
</body>

</html>


