You delete <%=information %>

<center>
    <div>
        <form action="/show/your/files" method="GET">
            <button id="submit" type="submit">Show your files</button>
          </form>
    </div>
      <div>
      <form action = "/" method="get">
        <input type = "submit" value = "Back">
    </form>
</div>
</center>