<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/CSS/style.css">
    <title>Select users</title>
 </head>
<script>
var toInit = "Users";</script>
<body  onload="init(toInit);">
<center>
    You delete access for <%=id%>) <%=nameFile%>
       Select users:          
        <br/><br/>
        <div id="container">
            <div id="avaible">
               Avaible: 
                <br/>
                <iframe name="AvaibleUsers" id="AvaibleUsers" src="/delete/access/user/avaible"></iframe>
            </div>
            <div id="added">
                Selected:
                <br/>
                <iframe id="ChoosedUsers" src="/delete/access/user/choosed"></iframe>
            </div>
           
        </div>
        <input type = "submit" value = "Delete access" onclick="temp()">
        <br/><br/>
      
</center>
<script>
    function temp()
    {
        submit();
    }
</script>
<script type="text/javascript" src="/forLists/initFunction.js"></script>
<script type="text/javascript" src="/forLists//addFunction.js"></script>
<script type="text/javascript" src="/forLists/deleteFunction.js"></script>
<script type="text/javascript" src="/forLists/optionsCounter.js"></script>
<script type="text/javascript" src="/submits/deleteFileAccess.js"></script>

</body>

</html>


