 <head> 
    <title> Delete file</title> 
    <link rel="stylesheet" href="/CSS/style.css">
  </head> 
  <center>
   <br>Your file is download to <%= path %>
   <br><br>
      <div>
  <form action="/show/your/files" method="GET">
   <button id="submit" type="submit">Go back </button>
    </form>
      </div>
        <div>
        <form action = "/" method="get">
          <input type = "submit" value = "Back">
      </form>
  </div>
  </center>