You and other have access to file for (<%= localization%>) dates (<%=firstDay%>-<%=lastDay%>) are used.

<form action="/edit/file/property/error" method="GET">
    <div>
    <button type="submit">Back</button>
</div>
  </form>