
<head> 
    <title>File</title> 
    <link rel="stylesheet" href="/CSS/style.css">
  </head> 
  <center>
   <br> You have no files in the lake
   <br><br>
      <div>
      <form action = "/" method="get">
        <input type = "submit" value = "Back">
    </form>
</div>
</center>