<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" href="/CSS/style.css" type="text/css"/>
    <title>Select File</title>
</head>
<body>
    <center>
        You update <%= id%>) <%=nameFile%>
    <form method="POST" action="/set/upload/file" enctype="multipart/form-data">
    <input type="file" name="file">
    <input type="submit">
</center>
</body>
  </form> 