<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" href="/CSS/style.css" type="text/css"/>
    <title>Update Success</title>
</head>
<body>
    <center>
      <br>
      Update file success.
      <br><br>
        <div>
            <form action="/show/your/files" method="GET">
                <button id="submit" type="submit">Show your files</button>
              </form>
        </div>
          <div>
          <form action = "/" method="get">
            <input type = "submit" value = "Back">
        </form>
    </div>
</center>
</body>
  </form> 