<head> 
  <title> Edit your account</title> 
  <link rel="stylesheet" href="/CSS/tableStyle.css">
  <link rel="stylesheet" href="/CSS/style.css">
</head>
<center> 
  <br><br>
<form action="/users/editPassword" method="POST">
    <div>
        <label for="email">Email: </label>
        <l id="firstName" name="firstName"> <%- user.email%></l>
      </div>
   <div>
     <label for="firstName">First Name: </label>
     <l id="firstName" name="firstName"> <%- user.firstName %></l>
   </div>
   <div>
     <label for="lastName">Last Name: </label>
     <l id="firstName" name="firstName"> <%- user.lastName%></l>
   </div>

   <div>
     <label for="password1">New Password</label>
     <input type="password" onChange='checkPasswordMatch()' id="password1" name="password1" required>
   </div>
   <div>
     <label for="password2">Repeat Password</label>
     <input type="password" onChange='checkPasswordMatch()' id="password2" name="password2" required>  <l id="passwordError"></l>
   </div>
   <br>
   <button id="submit" type="submit">Edit</button>
 </form>
</center> 
 <script>
 function checkPasswordMatch()
 {
   if(document.getElementById('password1').value !=document.getElementById('password2').value)
   {
     document.getElementById('password2').style = 'border-color:red'
     document.getElementById("passwordError").innerHTML = " Password is not same"
     document.getElementById('submit').disabled=true
   }
   else
   {
     document.getElementById('password2').style = 'border-color:black'
     document.getElementById("passwordError").innerHTML = ""
     document.getElementById('submit').disabled=false
   }
 }
 </script>