<head> 
  <title> Edit account data</title> 
  <link rel="stylesheet" href="/CSS/tableStyle.css">
  <link rel="stylesheet" href="/CSS/style.css">
</head>
<center> 
  <br><br>
<% if(typeof alert != 'undefined'){ %>
   <%= alert %>
<% } %>
<form action="/users/editData" method="POST">
  <div>
    <label for="firstName">First Name</label>
    <input type="text" id="firstName" name="firstName" value=<%- user.firstName %> required>
  </div>
  <div>
    <label for="lastName">Last Name</label>
    <input type="text"  id="lastNa" name="lastName" value=<%- user.lastName %> required>
  </div>
  <div>
    <label for="email">Email</label>
    <input type="email" id="email" name="email" value=<%- user.email %> required>
  </div>
  <br>
  <div><input type = "submit" value = "Edit" type="submit"></div>
</form>
<form action="/users/showStatistics/new" method="GET">
  <div><input type = "submit" value = "Back" type="submit"></div>
</form>
</head>
</center> 
