<head> 
  <title> Edit account</title> 
  <link rel="stylesheet" href="/CSS/tableStyle.css">
  <link rel="stylesheet" href="/CSS/style.css">
</head>
<center> 
<div>
    <label for="email">Email</label>
    <input type="text" id="email"  readonly name="email" value=<%- user.email %> >
  </div>
  <div>
    <label for="firstName">First Name</label>
    <input type="text" readonly id="firstName" name="firstName"  value=<%- user.firstName %> >
  </div>
  <div>
    <label for="lastName">Last Name</label>
    <input type="text" readonly id="lastName" name="lastName"  value=<%- user.lastName %> >
  </div>

    <br/><br/>

      <div>
        <button type="submit" onclick="tempUserData()">Edit your data </button>
      </div>
      <div>
        <button type="submit" onclick="tempUserPass()">Edit your password </button>
      </div>
      <div>
        <button id="buttonFileDelete">Delete your account</button>
            </div>
<div id="deleteModal" class="modal">
	<div class="modal-content">
  <span class="closeDeleteModal">  &times;</span>
	  <p id="questionText"></p>
        <button type="button" id="closebtn"  onclick="document.getElementById('deleteModal').style.display='none'" class="cancelbtn">Cancel</button>
        <button type="button" id="deletebtn" onclick="deleteAccount()" class="deletebtn">Delete</button>
	</div>
</center> 
        <script>
          function tempUserData(){
             location='/user/edit/data'
          }
          function tempUserPass(){
             location='/user/edit/password'
          } 
          function deleteAccount()
            {
              location='/user/delete/account'
        }
          </script>
          <script  type='text/javascript'>
            var modalDelete = document.getElementById("deleteModal")
            var buttonDelete = document.getElementById("buttonFileDelete");
            var spanDelete = document.getElementsByClassName("closeDeleteModal")[0];
            buttonDelete.onclick = function() {
            modalDelete.style.display = "block";
                  document.getElementById("questionText").innerHTML="You sure delete your account?"
            }
            spanDelete.onclick = function() {
            modalDelete.style.display = "none";
            }
            window.onclick = function(event) {
            if (event.target == modalDelete) {
              modalDelete.style.display = "none";
            }
            }
            
            </script>

